.ninja_log
.ninja_deps
build.ninja
CMakeCache.txt
Makefile
cmake_install.cmake
qtcsettings.cmake
CMakeFiles/
.cmake/
.qtc/
.qt/
.qtc_clangd/
.rcc/
qmltooling/
qmltypes/
testing/
ProjectDie/
appProjectDie_autogen/
appprojectdie_qmltyperegistrations.cpp
libappProjectDie.dll.a
game_saves.db
release.zip